<footer>
    <div class="container">
      <small
        >© copyright 2022
        <span class="light"><a href="https://github.com/piyush816/dotsend">piyush816</a></span></small
      >
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  <script src="/script.js"></script>
</body>
</html>
