<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <!-- font  -->
    <link rel="stylesheet" href="/styles.css" />
    <title>
      DotSend - Share your files easily from anywhere to everywhere
    </title>
  </head>
  <body>
    
    <nav id="navbar">
      <div class="container">
        <a href="/"><h2 id="logo"><span class="light">Dot</span>Send</h2></a>
      </div>
    </nav>
