<%- include('partials/header') %>

<div class="box p-6">
  <h1 class="is-size-1">404</h1>
  <p class="is-size-5 mb-5">Sorry, the file you looking for is not available</p>

  <a class="button is-link" href="/"> Back to home </a>
</div>

<%- include('partials/footer') %>
