<%- include('partials/header') %>

<div class="box p-6">
  <h3 class="is-size-4 mb-4">Upload File</h3>
  <div id="fileLinkContainer">
    <p class="mb-2">Download link</p>
    <div class="field has-addons">
      <div class="control is-expanded">
        <input
          class="input"
          type="url"
          value="<%= locals.fileLink %>"
          placeholder="url"
          id="urlInput"
        />
      </div>
      <div class="control">
        <button onclick="copyLink()" class="button is-link">
          <i class="fas fa-copy"></i>
        </button>
      </div>
    </div>
  </div>

  <div>
    <div class="my-5">
      <div id="dragContainer" class="has-text-centered dashed py-6">
        <i class="fas fa-4x has-text-link fa-file"></i>
        <p class="mt-3" id="fileInfo">
          Drag a file or &nbsp;<a onclick="chooseFile()" class="has-text-link"
            >select file</a
          >
        </p>

        <input type="file" id="fileInput" hidden name="file" required />
      </div>
    </div>
    <progress id="progress" class="progress is-link" value="0" max="100">
      0%
    </progress>

    <div class="mb-4">
      <input
        class="input"
        type="password"
        placeholder="Set Password (optional)"
        name="password"
        id="filePassword"
      />
    </div>
    <button
      onclick="uploadFile()"
      class="button is-link is-fullwidth"
      type="submit"
    >
      Upload
    </button>
  </div>
</div>

<%- include('partials/footer') %>
