<%- include('partials/header') %>

<div class="box p-6">
  <h1 class="is-size-1">Internal Server Error</h1>
  <p class="is-size-5 mb-5">
    Sorry, there are some issue with our end we will fix that soon..
  </p>
</div>

<%- include('partials/footer') %>
