<%- include("partials/header.ejs") %>

    <div class="container">
      <div class="card">
        <h1 class="errorText"><span class="light">404</span></h1>
        <p>oops looks like file no more exist in server</p>
        <button style="margin-top: 14px" class="btn">
          <a style="color: white" href="/">Back to Home</a>
        </button>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>