<%- include('partials/header') %>

<div class="box p-6">
  <h3 class="is-size-4 mb-4">Download File</h3>
  <form method="post">
    <div class="mb-4">
      <input
        class="input"
        type="password"
        placeholder="Enter Password"
        name="password"
        required
      />
      <% if (locals.error) { %>
      <small class="has-text-danger">Incorrect password</small>
      <% } %>
    </div>
    <button class="button mb-4 is-fullwidth is-link" type="submit">
      Download
    </button>
    <a class="has-text-link" href="/"> Back to home </a>
  </form>
</div>

<%- include('partials/footer') %>
